{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "chrome >= 58"
        }
      }
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"]]
    }
  },
  plugins: [
    [ "@babel/plugin-proposal-export-namespace-from" ],
    ["@babel/plugin-proposal-class-properties", { loose: false }]
  ]
}
