.control-parent {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  margin-right: 20px;
}

.control-panel {
  padding-left: 10px;
}

#chart {
  margin-top: 50px;
  margin-left: 10px;
}

#body {
  display: inline-flex;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
};
